body{
    background-color: aqua;
}

body .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

body .btn1{
    display: flex;
    align-items: center;
    justify-content: center;
}